body {
	font: 300 1em/1.4 'Ubuntu', 'lucida sans unicode', 'lucida grande', 'Trebuchet MS', 'verdana', 'arial', 'helvetica', 'helve', sans-serif;
	margin: 5% auto;
	max-width: 980px;
	padding: 0;
	text-align: center;
	width: 90%;
}
.description {
	margin: 3% auto;
	max-width: 70%;
}
h1 { font-weight: 300; }
p { text-align: left; }
a {
	color: #2980b9;
	text-decoration: none;
}
code {
	font-family: 'Ubuntu Mono', monospace;
	word-wrap: break-word;
}
.caption {
	color: #7f8c8d;
	font-size: 0.9em;
	font-style: italic;
	text-align: center;
}
table {
	border-spacing: 0;
	width: 100%;
}
th {
	cursor: pointer;
	font-weight: 300;
	padding: 20px 10px;
}
thead tr:nth-child( odd ) { background: transparent; }
tr:nth-child( odd ) { background: #ecf0f1; }
td {
	font-weight: 300;
	padding: 10px;
}
.hi { color: #fefefe; }
.insecure { background: #e74c3c; }
.good { background: #27ae60; }
.best { background: #2980b9; }
.header.headerSortUp::after { content: ' ↑'; }
.header.headerSortDown::after { content: ' ↓'; }
